[submodule "demo-submodule-lib"]
	path = demo-submodule-lib
	url = git@github.com:demo-submodule/demo-submodule-lib.git
[submodule "demo-submodule-svc1"]
	path = demo-submodule-svc1
	url = git@github.com:demo-submodule/demo-submodule-svc1.git
